Repository ededals/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @jhford, @taskcluster/frontend-reviewers, @djmitche

Perform post-import steps on worker-manager
  services/worker-manager/.eslintrc
  services/worker-manager/.travis.yml
  services/worker-manager/CODE_OF_CONDUCT.md
  services/worker-manager/CONTRIBUTING.md
  services/worker-manager/LICENSE
  services/worker-manager/package.json
  services/worker-manager/yarn.lock
Owners: @jhford

Lint fixes from monorepo eslintrc
  services/references/src/main.js
  services/worker-manager/bin/convert.js
  services/worker-manager/lib/api.js
  services/worker-manager/lib/base.js
  services/worker-manager/lib/bid.js
  services/worker-manager/lib/bidding-strategies/queuepending.js
  services/worker-manager/lib/bidding-strategy.js
  services/worker-manager/lib/data-storage.js
  services/worker-manager/lib/main.js
  services/worker-manager/lib/provider.js
  services/worker-manager/lib/provisioner.js
  services/worker-manager/lib/rules.js
  services/worker-manager/lib/worker-config.js
  services/worker-manager/lib/worker.js
  services/worker-manager/package.json
  services/worker-manager/test/api_test.js
  services/worker-manager/test/bid_test.js
  services/worker-manager/test/bidding-strategies/bidding-strategies_test.js
  services/worker-manager/test/bidding-strategies/queuepending_test.js
  services/worker-manager/test/data-storage_test.js
  services/worker-manager/test/helper.js
  services/worker-manager/test/object_test.js
  services/worker-manager/test/providers/provider_test.js
  services/worker-manager/test/provisioner_test.js
  services/worker-manager/test/rules_test.js
  services/worker-manager/test/worker-config_test.js
  yarn.lock
Owners: @taskcluster/services-reviewers, @jhford

Fix CI failures
  .taskcluster.yml
  services/worker-manager/package.json
Owners: @taskcluster/services-reviewers, @jhford

Add memory-streams devDependency to monorepo package.json
  package.json
  yarn.lock
Owners: @taskcluster/services-reviewers

Update dependency @material-ui/lab to v3.0.0-alpha.28
  ui/package.json
  ui/yarn.lock
Owners: @taskcluster/services-reviewers

Update dependency date-fns to v2.0.0-alpha.27
  ui/package.json
  ui/yarn.lock
Owners: @taskcluster/services-reviewers

.github/CODEOWNERS:

* @taskcluster/services-reviewers

services/queue @jhford
services/worker-manager @jhford
services/web-server @taskcluster/frontend-reviewers
libraries/client @jhford

infrastructure/builder @djmitche
